<form fxLayout="row" fxLayoutGap="5px" [formGroup]="group">
    <div fxLayout="column" fxFlex="calc(20% - 5px)">

        <mat-form-field>
            <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Container Name" formControlName="containerName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Image" [formControl]="imageControl">
        </mat-form-field>
        <div fxLayout="column">
            <h3>Port Bindings</h3>
            <div *ngFor="let binding of portBindings" class="port-binding" fxLayout="row" fxLayoutAlign="start center" [formGroup]="binding">
                <div fxFlex="25%">
                    {{binding.value['targetPort']}}/{{binding.value['targetProtocol']}}
                </div>
                <mat-form-field fxFlex="35%">
                    <input matInput placeholder="Host Ip" formControlName="hostIp">
                </mat-form-field>
                <mat-form-field fxFlex="25%">
                    <input matInput placeholder="Host Port" formControlName="hostPort">
                </mat-form-field>
                <button mat-icon-button fxFlex="15%" (click)="deletePortBinding(binding.value)">
                    <mat-icon>remove</mat-icon>
                </button>

            </div>
            <button mat-icon-button color="primary" (click)="addPortBinding()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <mat-list>
            <div>
                <span>Target Nodes</span>
                <button mat-icon-button color="primary" (click)="addNode()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <mat-list-item *ngFor="let targetNode of group.value.targetNodes let i = index">
                {{targetNode.name}}
                <button mat-icon-button color="warn" (click)="removeNode(targetNode)">
                    <mat-icon>remove</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
        <div class="divider"></div>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">

            <button mat-raised-button color="accent" (click)="updateDeploy()" [disabled]="!isValid()">Update/Deploy</button>
            <!-- <button mat-raised-button color="accent" (click)="undo()">Undo To Saved</button> -->
            <button mat-raised-button color="warn" (click)="delete()">Delete</button>
        </div>
    </div>
    <textarea class="config-json-input" fxFlex="calc(80% - 5px)" formControlName="configuration" (change)="onConfigurationChange()"></textarea>

</form>